<div class='row'>
  <div class='columns small-12'>
    <% if @notes.empty? %>
      <table class='hide'>
        <thead>
          <tr>
            <th>ID</th>
            <th>Title</th>
            <th>Body</th>
            <th></th>
          </tr>
        </thead>
        <tbody>
        </tbody>
      </table>
      <p class='db-empty'>Sorry, no notes &#x1f61e;</p>
    <% else %>
      <!-- bootstrap backbone and prevent another roundtrip to the server -->
      <table data-prefetch="<%= JSON.generate(@notes.map(&:values)).gsub('"', '&quot;') %>">
        <thead>
          <tr>
            <th>ID</th>
            <th>Title</th>
            <th>Body</th>
            <th></th>
          </tr>
        </thead>
        <tbody>
        </tbody>
      </table>
    <% end %>
    <p>
      <a href='#' data-reveal-id='newNoteModal' class='button'>Add a note</a>
    </p>
  </div>
</div>

